textarea {
  font-family: "Quantico", sans-serif;
  width: 100%;
  font-size: 0.8em;
  margin-top: 2em;
  padding: 5px 0 0 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  transition: all 0.3s ease-in-out;
  &:required {
    box-shadow: none;
  }
  &:hover {
    transform: scale(1.025);
    box-shadow: 15px 15px 10px -15px;
  }
  &:focus {
    transform: scale(1.025);
    box-shadow: 15px 15px 10px -15px;
  }
  @media screen and(min-width:400px) {
    font-size: 1em;
  }
  @media screen and(min-width:768px) {
    font-size: 1.75vw;
  }
  @media screen and(min-width:1040px) {
    font-size: 1.5vw;
  }
}
