@font-face {
  font-family: 'blockbuster';
  src: local('blockbuster'),
    url('./assets/general/Blockbuster.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'japaneseComic';
  src: local('blockbuster'),
    url('./assets/general/Ungai.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.App {
  overflow: hidden;
}

body {
  margin: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}
